
.vs/Koala/v16/.suo
.vs/KoalaResults/v16/Server/sqlite3/db.lock
.vs/KoalaResults/v16/.suo
.vs/Koala/v16/TestStore/0/testlog.manifest
.vs/Koala/v16/TestStore/0/000-0000.testlog
.vs/Koala/v16/Server/sqlite3/storage.ide
.vs/Koala/v16/Server/sqlite3/db.lock
.vs/KoalaResults/v16/Server/sqlite3/storage.ide
